/**
* style.css
*
* description
*/

/* sets box sizing as default with inheritance */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


/* sets read and not read books, !important is necessary to override inline style */
li.read {
	background-color: blue !important;
}

li.unread {
	background-color: grey !important;
}