### Java only (scoped to /Java and its subfolders) ###
/Java/.metadata

# Compiled class files
/Java/**/*.class

# Log files
/Java/**/*.log

# BlueJ files
/Java/**/*.ctxt

# Mobile Tools for Java (J2ME)
/Java/**/.mtj.tmp/

# Package files
/Java/**/*.jar
/Java/**/*.war
/Java/**/*.nar
/Java/**/*.ear
/Java/**/*.zip
/Java/**/*.tar.gz
/Java/**/*.rar

# JVM crash logs
/Java/**/hs_err_pid*
/Java/**/replay_pid*
.idea/.gitignore
.idea/its.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
