/**
* style.css
*
* styles a div with class "frog" to look like a frog,
* and then creates variations of the frog by using additional classes
*/

/* sets box sizing as default with inheritance */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* base frog */
div.frog,
div.frog::after,
div.frog::before {
    display: inline-block;
    border: 1px solid black;
    align-content: center;
    text-align: center;
}

div.frog {
    position: relative;
    width: 250px;
    height: 100px;
    margin: 100px;
    border-radius: 1em;
    padding-bottom: 50px;
}

div.frog::after,
div.frog::before {
    position: absolute;
    top: -30%;
    width: 25%;
    height: 60%;
    border-radius: 3em;
    content: "O";
}

div.frog::after {
    right: -14%;
}

div.frog::before {
    left: -14%;
}

/* black eyes on hover */
div.frog:hover::after,
div.frog:hover::before {
    background-color: black;
    color: white;
}

/* small frog */
div.small {
    width: 125px;
    height: 50px;
    padding: 10px 0 0;
}

div.small::after,
div.small::before {
    background-color: rgb(34, 121, 34);
    color: white;
}


/* type1 frog (green) */
div.type1  {
    background-color: rgb(61, 184, 61);
}

/* type1 big */
div.type1.big::after,
div.type1.big::before {
    background-color: rgb(175, 228, 175);
}

/* type1 small */
div.type1.small::after,
div.type1.small::before {
    background-color: rgb(34, 121, 34);
}

/* type2 frog (orange) */
div.type2  {
    background-color: orangered;
}

/* type2 big */
div.type2.big::after,
div.type2.big::before {
    background-color: rgb(255, 147, 108);
}

/* type2 small */
div.type2.small::after,
div.type2.small::before {
    background-color: rgb(179, 48, 0);
}