/**
* style.css
*
* changes background image of the container depending on screen width with media queries
*/

/* sets box sizing as default with inheritance */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: rgb(calc(255 * 1px),0,0);
}

/* common declarations for the image container */
#img {
	display: block;
	height: 200px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* changes background image depending on screen width */
@media screen and (max-width: 480px) {
	#img {
		background-image: url("../assets/img/img.png");
	}
	
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	#img {
		background-image: url("../assets/img/img-481.png");
	}
	
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
	#img {
		background-image: url("../assets/img/img-769.png");
	}
	
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	#img {
		background-image: url("../assets/img/img-1025.png");
	}
	
}
@media screen and (min-width: 1201px) {
	#img {
		background-image: url("../assets/img/img-1201.png");
	}
	
}
