/**
* style.css
*
* description
*/

/* sets box sizing as default with inheritance */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* font and page color*/
body {
	font-family: 'Trebuchet MS', sans-serif;
	background-color: rgb(114, 127, 139);
}

/* page title  styling*/
h1 {
	background-color: rgb(53, 61, 68);
	color: #ffffff;
	margin: 0;
	padding: 20px;
}

/* game container styling */
main {
	background-color: rgb(226, 231, 235);;
	height: fit-content;
	width: fit-content;
	border: 1px solid black;

	margin: 10vh auto 0;
	padding: 20px 10px 10px;
}

/* game sections */
div {
	min-height: 50px;
	padding: 20px;

}

/* game sections separation */
div:not(:last-child) {
	border-bottom: 1px solid black;
}

/* description */
p {
	margin: 0;
}