<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>
	<div class="container">

		<div th:replace="~{fragments :: navbar}"></div>

		<h1 th:text="${title}"></h1>

		<a href="/transactions/create" role="button">Nuova Transazione</a>

		<table>
			<thead>
				<th>Data</th>
				<th>Descrizione</th>
				<th>Categoria</th>
				<th>Tipo</th>
				<th>Importo</th>
				<th>scontrino</th>
				<th>azioni</th>
			</thead>
			<tbody>
				<tr th:each=" transaction : ${transactions}">
					<td th:text="${transaction.date}"></td>
					<td th:text="${transaction.description}"></td>
					<td th:text="${transaction.category}"></td>
					<td th:text="${transaction.type}"></td>
					<td th:text="${transaction.amount}"></td>
					<td>
						<a th:if="${transaction.receipt != null and !#strings.isEmpty(transaction.receipt)}"
							th:href="@{/transactions/{id}/receipt(id=${transaction.id})}" role="button">Scarica</a>
						<span th:if="${transaction.receipt == null or #strings.isEmpty(transaction.receipt)}">-</span>
					</td>
					<td>
						<a th:href="@{/transactions/{id}(id=${transaction.id})}" role="button">Dettagli</a>
						<a th:href="@{/transactions/{id}/delete(id=${transaction.id})}" role="button">Elimina</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>

</html>