/**
* style.css
*
* Basic scaffold styles for the 5.Arrivals exercise
*/

/* sets box sizing as default with inheritance */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* WIP */
th{
    width: 50px;
    border: 1px solid black;
}


tr{
    border: 1px solid black;
}

thead {
    border: 1px solid black;
}

table {
    border: 1px solid black;
    width: 90%;
    margin: 5%;
}