:root{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    padding-top: 1em;
    padding-left: 1em;
}
h1 {
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}
p {
    margin-bottom: 5px;
}
ul li {
       padding-left: 1em;
   }
ul li::before {
       content: "★ ";
       margin-right: 0.5em;
   }
ol, ol li {
    list-style-type: upper-roman;
    list-style-position: inside;
    padding-left: 0.5em;
}
table, th, td {
   border: 1px solid; 
}

a:hover {
    background-color: aqua;
}

