<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>
	<div class="container">

		<div th:replace="~{fragments :: navbar}"></div>

		<h1 th:text="${title}"></h1>


		<form action="" method="post" enctype="multipart/form-data">
			<label for="date">Data:</label>
			<input type="date" name="date" id="date">
			<label for="description">Descrizione:</label>
			<input type="text" name="description" placeholder="Inserisci una descrizione">
			<label for="category">Categoria:</label>
			<input type="text" name="category" placeholder="Inserisci una categoria">
			<label for="type">Tipo:</label>
			<select name="type">
				<option th:each="transactionType : ${transactionTypes}" th:value="${transactionType}"
					th:text="${transactionType}">
				</option>
			</select>
			<label for="amount">Importo:</label>
			<input type="number" name="amount" step="0.01" placeholder="Inserisci un importo">
			<label for="receipt">Scontrini:</label>
			<input type="file" name="receiptFile" id="receipt">
			<input type="submit" value="Crea">
		</form>

	</div>
</body>

</html>