/**
* style.css
*
* description
*/

/* sets box sizing as default with inheritance */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.list-item {
	color: white;
	font-weight: bold;
	background-color: orange;
}